nav {
  width: 1280px;
  margin: 0 auto;
  ul#gnb {
    width: 80%;
    margin: 0 auto;
    li {
      background: #ccc;
      a {
        color: red;
        text-decoration: none;
      }
    }
  }
}
