$bg: #ccc;
$Fcolor: #000;
$width: 1000px;
$imgUrl: "images/";
nav {
  width: $width;
  margin: 0 auto;
  ul {
    display: flex;
    li {
      background: url($imgUrl + "photo1.jpg");
      a {
        width: $width;
        color: $Fcolor;
      }
    }
  }
}
header {
  $width: 100px;
  div.head {
    ul.gnb {
      li {
        width: $width;
      }
    }
  }
}
$wd1: 400px;
$wd2: 300px;
footer {
  > div {
    height: 100px;
  }
  div.top {
    width: $wd1;
    // background: if(조건,참,거짓);
    // background: if($wd1>500, red, blue);
    background: if($wd1>=500 and $wd1<=1000, red, blue);
  }
  div.bottom {
    width: $wd2;
    background: if($wd1>500, red, blue);
  }
}
// @for $i from 1 through 3 {
//   //1부터 3까지 반복
//   .menu:nth-child(#{$i}) {
//     width: 50px * $i;
//   }
// }

@for $i from 1 to 3 {
  //1부터 2까지 반복
  .menu1:nth-child(#{$i}) {
    width: 50px * $i;
  }
}
